<?xml version="1.0"?>
<ruleset name="frontkom">
    <description>The coding standard for Frontkom.</description>
    <arg name="extensions" value="inc,install,module,php,profile,test,theme"/>

    <file>./web/modules/custom</file>

    <exclude-pattern>./drupal/modules/nymedia/**/*.css</exclude-pattern>
    <exclude-pattern>./drupal/themes/nymedia/**/*.css</exclude-pattern>
    <exclude-pattern>./drupal/themes/custom/**/*.css</exclude-pattern>
    <exclude-pattern>./drupal/modules/nymedia/**/node_modules/**</exclude-pattern>
    <exclude-pattern>./drupal/themes/**/node_modules/**</exclude-pattern>
    <exclude-pattern>./drupal/modules/nymedia/**/*.txt</exclude-pattern>
    <exclude-pattern>./drupal/modules/custom/**/*.txt</exclude-pattern>
    <exclude-pattern>./drupal/modules/nymedia/**/*.md</exclude-pattern>
    <exclude-pattern>./drupal/modules/custom/**/*.md</exclude-pattern>

    <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal"/>
</ruleset>
